/* Estilos para la página principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #cab9b9;
    margin: 0;
    padding: 0;
}

/* Modal (Cuenta regresiva) */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    background-color: #741960; /* Fondo morado oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

/* Estilo para el título del evento */
#eventTitleModal {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #285c69;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para el texto "FALTAN" */
#remainingText {
    font-size: 2.5rem;
    color: #2e7586;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilo para el contador */
#countdown {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo de los números del contador */
#countdown span {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: #1abc9c;
    color: #fff;
}

/* Efecto de hover en los números */
#countdown span:hover {
    background-color: #16a085;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Para la interfaz de administración (cuando aún está visible) */
#adminContainer {
    text-align: center;
    padding: 20px;
}

input[type="text"], input[type="datetime-local"] {
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

button {
    background-color: #3498db;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
